<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}

<body>
    <div class="wrap" >
        {{- partial "header.html" . -}}
        <div class="content" id="top">
            {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}
    </div>
    <nav>
        <ul>
          <li><a href="https://github.com/katallaxie" target="_blank" rel="noreferrer">GitHub</a></li>
          <li><a href="https://twitter.com/katallaxie" target="_blank" rel="noreferrer">Twitter</a></li>
          <li><a href="https://linkedin.com/in/katallaxie" target="_blank"rel="noreferrer">LinkedIn</a></li>
        </ul>
    </nav>
</body>
</html>