<footer class="md:pb-16 md:pt-8">
    <div class="container relative flex flex-col justify-between h-full py-4 max-w-6xl px-10 mx-auto xl:px-0 mt-5">
        <div class="w-full">
            <div class="flex grid grid-cols-12 gap-4">

                {{- partial "widgets/subscribe.html" . -}}   
    
                <div class="col-span-full py-8 md:py-0 md:col-start-8 md:col-span-5">
                    <ul class="menu menu-lg menu-vertical p-0 font-medium">
                        {{ $colors := .Site.Params.color }}
                        {{ range $index, $value := .Site.Menus.main }}
                        <li>
                            <a href="{{ $value.URL }}">{{ $value.Name }}</a>
                        </li>
                        {{ end }}
                    </ul>
                </div>        
            </div>
        </div>
    </div>

    {{- partial "widgets/copyright.html" . -}}

</footer>

{{- if (not .Site.Params.disableThemeToggle) }}
<script>
    document.getElementById("theme-toggle").addEventListener("click", () => {
        if (document.body.className.includes("dark")) {
            document.body.classList.remove('dark');
            localStorage.setItem("pref-theme", 'light');
        } else {
            document.body.classList.add('dark');
            localStorage.setItem("pref-theme", 'dark');
        }
    })

    document.getElementById("menu-toggle").addEventListener("click", () => {
        if (document.body.className.includes("open")) {
            document.body.classList.remove('open');
        } else {
            document.body.classList.add('open');
        }
    })
    document.getElementById("back").addEventListener("click", () => {
        document.getElementById('top').scrollTo({ top: 0, behavior: 'smooth' });
    })
</script>
{{- end }}