<head>
    <meta charset="utf-8">

    <meta name="description" content="Sebastian Döll is a Berlin based senior software engineer at Microsoft. Crafting software with great user experiences.">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta property="og:url" content="https://katallaxie.me/home">
    <meta property="og:title" content="Sebastian Döll | Senior Software Engineer at Microsoft">
    <meta property="og:description" content="Sebastian Döll is a Berlin based senior software engineer at Microsoft. Crafting software with great user experiences.">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=E6w3p0w8MX">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=E6w3p0w8MX">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=E6w3p0w8MX">
    <link rel="manifest" href="/site.webmanifest?v=E6w3p0w8MX">
    <link rel="shortcut icon" href="/favicon.ico?v=E6w3p0w8MX">
    
    <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1, user-scalable=no">

    {{- /* Styles */}}
    {{ $css := resources.Get "css/styles.css" }}
    {{ $styles := $css | resources.PostCSS }}

    {{- $styles := resources.Get "css/styles.css" | postCSS (dict "config" "./assets/css/postcss.config.js") -}}
    {{- if .Site.IsServer }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}">
    {{ else }}
        {{- $styles := $styles| minify | fingerprint | resources.PostProcess -}}
    <link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}">
    {{ end -}}

    {{- $styles := resources.Get "css/syntax.css" | postCSS (dict "config" "./assets/css/postcss.config.js") -}}
    {{- if .Site.IsServer }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}">
    {{ else }}
        {{- $styles := $styles| minify | fingerprint | resources.PostProcess -}}
    <link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}">
    {{ end -}}

    {{ $title := print .Site.Title " | " .Title }}
    {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
    <title>{{ $title }}</title>

    <link rel="preload" href="fonts/roboto-v29-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="fonts/roboto-v29-latin-500.woff2" as="font" type="font/woff2" crossorigin>
</head>