<div class="container relative flex flex-col justify-between h-full max-w-6xl px-10 mx-auto xl:px-0 mt-5">
    <div class="grid grid-cols-12 gap-4">
        <div class="flex items-center h-full col-span-full md:col-span-6 lg:col-span-3">
            <a class="btn btn-lg text-primary justify-start w-full font-bold m-1 p-4 border-2 border-primary shadow-[4px_4px_0px_0px_rgba(0,_0,_0,_0.8)] shadow-accent rounded-lg" href="{{ .Page.Permalink }}">
               All
            </a>
        </div>
        {{ with $.Site.Taxonomies.categories }}
            {{ range . }}
            <div class="flex items-center h-full col-span-full md:col-span-6 lg:col-span-3">
                <a class="btn btn-lg text-primary justify-start w-full font-bold m-1 p-4 border-2 border-primary shadow-[4px_4px_0px_0px_rgba(0,_0,_0,_0.8)] shadow-accent rounded-lg" href="{{ .Page.Permalink }}">
                    {{ .Page.Title }}
                </a>
            </div>
            {{ end }}
        {{ end }}
    </div>
</div>