<div class="container relative flex flex-col justify-between h-full max-w-6xl px-4 mx-auto xl:px-0 mt-5">
    <div class="grid grid-cols-12 gap-4">
        <div class="col-span-full md:col-span-4">
            <div class="flex flex-col h-full p-5 text-neutral col-span-full md:col-span-6 lg:col-span-4 shadow-[4px_4px_0px_0px_rgba(0,_0,_0,_0.8)] shadow-neutral border-neutral-800 border-2 rounded-lg transition-transform duration-300 ease-in-out hover:scale-102">
                <h2 class="text-xl font-bold underline underline-offset-4 decoration-wavy decoration-error">
                    What I do
                </h2>
                <p class="py-5">
                    Over 25 years of experience working in all kind of project sizes and teams. I have architected & developed digital products to help businesses and improve people's lives, solving complex problems with simple solutions.
                </p>
            </div>
        </div>
        <div class="col-span-full md:col-span-8">
            <div class="grid grid-cols-12 gap-4">
                {{ $pages := where site.RegularPages "Type" "experience" }}
                {{ $colors := slice "yellow" "green" "purple" "red" "blue" }}
                {{ with $pages }}
                {{ range $index, $value := first 5 .ByDate.Reverse }}
                {{ $color := default "gray" (index ($colors) $index)  }}
                <div class="col-span-full collapse collapse-arrow border-2 border-primary shadow-[4px_4px_0px_0px_rgba(0,_0,_0,_0.8)] shadow-accent rounded-lg transition-transform duration-300 ease-in-out hover:scale-102">
                    <input type="radio" name="experience" />
                    <div class="collapse-title font-semibold">
                        <h2 class="text-xl text-primary font-bold">
                            {{ .Params.title }}
                        </h3>
                        <p>
                            {{ .Params.company }}
                        </p>
                    </div>
                    <div class="collapse-content text-xl">
                        {{ .Summary }}
                    </div>
                </div>
                {{ end }}
                {{ end }}
            </div>
        </div>
    </div>
</div>