<div class="container py-8 relative flex flex-col justify-between h-full max-w-6xl px-10 mx-auto xl:px-0 mt-5">
    <div class="grid grid-cols-12 gap-4">
        <div class="col-span-full md:col-span-6 lg:col-span-3">
            <div class="my-2 border-2 border-yellow-400 rounded-lg text-gray-800 shadow-solid-yellow-400 border-yellow-400 cursor-pointer">
                <a href="{{ .Page.Permalink }}">
                    <h3 class="my-3 ml-3 text-lg font-bold">Technology</h3>
                </a>
            </div>
            <div class="my-2 border-2 rounded-lg text-gray-800 shadow-solid-neutral-800 border-neutral-800 cursor-pointer">
                <a href="{{ .Page.Permalink }}">
                    <h3 class="my-3 ml-3 text-lg font-bold">Event-driven architecture</h3>
                </a>
            </div>
        </div>

        <div class="col-span-full md:col-span-6 lg:col-span-3">
            <div class="my-2 border-2 rounded-lg text-gray-800 shadow-solid-green-400 border-green-400 cursor-pointer">
                <a href="{{ .Page.Permalink }}">
                    <h3 class="my-3 ml-3 text-lg font-bold">Languages</h3>
                </a>
            </div>
            <div class="my-2 border-2 rounded-lg text-gray-800 shadow-solid-neutral-800 border-neutral-800 cursor-pointer">
                <a href="{{ .Page.Permalink }}">
                    <h3 class="my-3 ml-3 text-lg font-bold">Go</h3>
                </a>
            </div>
            <div class="my-2 border-2 rounded-lg text-gray-800 shadow-solid-neutral-800 border-neutral-800 cursor-pointer">
                <a href="{{ .Page.Permalink }}">
                    <h3 class="my-3 ml-3 text-lg font-bold">TypeScript</h3>
                </a>
            </div>
            <div class="my-2 border-2 rounded-lg text-gray-800 shadow-solid-neutral-800 border-neutral-800 cursor-pointer">
                <a href="{{ .Page.Permalink }}">
                    <h3 class="my-3 ml-3 text-lg font-bold">Dart</h3>
                </a>
            </div>
            <div class="my-2 border-2 rounded-lg text-gray-800 shadow-solid-neutral-800 border-neutral-800 cursor-pointer">
                <a href="{{ .Page.Permalink }}">
                    <h3 class="my-3 ml-3 text-lg font-bold">Zig</h3>
                </a>
            </div>
        </div>
    </div>
</div>