{{ define "main" }}
<div class="main">
  <div class="content-2-col">
    <div class="brand">
      <a class="" aria-label="Home" href="/">
        <svg viewBox="0 0 84 24">
          <g fill="none" fill-rule="evenodd">
            <circle fill="#FFCA09" cx="12" cy="12" r="12"></circle>
            <path fill="#3077F8" d="M41 0l12 24H29z"></path>
            <path fill="#E51D1D" d="M60 0h24v24H60z"></path>
          </g>
        </svg>
      </a>
    </div>
    <div class="teaser">
      <h4>
        Sebastian Döll is a Berlin based senior software engineer at Microsoft.
        Crafting software with great user experiences.
      </h4>
      <a
        class="block text-gray-500 text-xl lg:text-2xl hover:text-white"
        href="/about/"
        >Curriculum Vitae</a
      >
    </div>
  </div>
  <div class="content-3-col">
    <section class="pb-8 lg:pb-12">
      <h2 class="text-3xl lg:text-4xl py-6 text-gray-500">Writing.</h2>

      <ul class="latest">
        {{- range ( where site.RegularPages "Section" "posts" | first 5 ) }}
        <li>
          <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
          <time>{{ .Date.Format "Mon, Jan 2, 2006" }}</time>
        </li>
        {{ end }}
      </ul>

      <div class="py-3 xl:py-0">
        <a href="/posts/composition-in-nextjs-static-properties/">
          <h3 class="text-2xl md:text-3xl py-3 md:py-6">
            Composition in Next.js Static Properties
          </h3>
        </a>
        <h3
          class="text-2xl md:text-3xl py-3 md:py-6 text-gray-500 -mt-3 md:-mt-8"
        >
          March 26, 2021
        </h3>
      </div>
      <div class="py-3 xl:py-0">
        <a href="/posts/the-power-of-typescript-for-graphql-union-type/">
          <h3 class="text-2xl md:text-3xl py-3 md:py-6">
            The Power of TypeScript for GraphQL Union Type
          </h3>
        </a>
        <h3
          class="text-2xl md:text-3xl py-3 md:py-6 text-gray-500 -mt-3 md:-mt-8"
        >
          March 26, 2021
        </h3>
      </div>
      <div class="py-3 xl:py-0">
        <a href="/posts/the-state-of-go-plugins/">
          <h3 class="text-2xl md:text-3xl py-3 md:py-6">
            The State of Go Plugins
          </h3>
        </a>
        <h3
          class="text-2xl md:text-3xl py-3 md:py-6 text-gray-500 -mt-3 md:-mt-8"
        >
          March 26, 2021
        </h3>
      </div>
      <div class="py-3 xl:py-0">
        <a href="/posts/module-resolution-in-large-projects-with-typescript/">
          <h3 class="text-2xl md:text-3xl py-3 md:py-6">
            Module Resolution in Large Projects with TypeScript
          </h3>
        </a>
        <h3
          class="text-2xl md:text-3xl py-3 md:py-6 text-gray-500 -mt-3 md:-mt-8"
        >
          March 26, 2021
        </h3>
      </div>
      <div class="py-3 xl:py-0">
        <a
          href="/posts/deploy-aws-cloudformation-stacks-with-github-actions-react-example/"
        >
          <h3 class="text-2xl md:text-3xl py-3 md:py-6">
            Deploy AWS CloudFormation stacks with GitHub Actions + React Example
          </h3>
        </a>
        <h3
          class="text-2xl md:text-3xl py-3 md:py-6 text-gray-500 -mt-3 md:-mt-8"
        >
          March 26, 2021
        </h3>
      </div>
    </section>
    <section class="pb-8 lg:pb-12">
      <h2 class="text-3xl lg:text-4xl py-6 text-gray-500">Projects.</h2>
      <div class="py-3 xl:py-0">
        <a href="https://github.com/awslabs/aws-lambda-dart-runtime">
          <h3 class="text-2xl md:text-3xl py-3 md:py-6">
            Dart Runtime for AWS Lambda
          </h3>
        </a>
        <h3
          class="text-2xl md:text-3xl py-3 md:py-6 text-gray-500 -mt-3 md:-mt-8"
        >
          A custom runtime for AWS Lambda to run Dart programs serverless.
        </h3>
      </div>
      <div class="py-3 xl:py-0">
        <a
          href="https://github.com/aws-actions/aws-cloudformation-github-deploy"
        >
          <h3 class="text-2xl md:text-3xl py-3 md:py-6">
            AWS CloudFormation GitHub Action
          </h3>
        </a>
        <h3
          class="text-2xl md:text-3xl py-3 md:py-6 text-gray-500 -mt-3 md:-mt-8"
        >
          A GitHub Action to deploy AWS CloudFormation Stacks to the AWS cloud.
        </h3>
      </div>
      <div class="py-3 xl:py-0">
        <a href="https://github.com/andersnormal/autobot">
          <h3 class="text-2xl md:text-3xl py-3 md:py-6">Autobot</h3>
        </a>
        <h3
          class="text-2xl md:text-3xl py-3 md:py-6 text-gray-500 -mt-3 md:-mt-8"
        >
          Autobot is your nice and friendly bot. He is pluggable via Pub/Sub and
          written in Go.
        </h3>
      </div>
      <div class="py-3 xl:py-0">
        <a href="https://github.com/awslabs/ssosync">
          <h3 class="text-2xl md:text-3xl py-3 md:py-6">SSOSync</h3>
        </a>
        <h3
          class="text-2xl md:text-3xl py-3 md:py-6 text-gray-500 -mt-3 md:-mt-8"
        >
          Populate AWS SSO directly with your G Suite users and groups using
          either a CLI or AWS Lambda.
        </h3>
      </div>
    </section>
    <footer class="py-16 xl:pt-24 text-gray-500">
      <button class="flex flex-col focus:outline-none">
        <h2 class="text-3xl lg:text-4xl py-6 uppercase font-semibold">
          BACK TOP.
        </h2>
      </button>
      <p class="col-span-full py-6">
        Copyright © 2022. All rights reserved 🤘.
      </p>
    </footer>
  </div>
</div>
{{ end }}
