{{ define "main" }}
<div class="main">
  <div class="content-2-col">
    <div class="brand">
      <a class="" aria-label="Home" href="/">
        <svg viewBox="0 0 84 24">
          <g fill="none" fill-rule="evenodd">
            <circle fill="#FFCA09" cx="12" cy="12" r="12"></circle>
            <path fill="#3077F8" d="M41 0l12 24H29z"></path>
            <path fill="#E51D1D" d="M60 0h24v24H60z"></path>
          </g>
        </svg>
      </a>
    </div>
    <div class="teaser">
      <h4>
        Sebastian Döll is Solution Architect at ZEISS GROUP.
        Crafting software with great user experiences.
      </h4>
    </div>
    <div class="opentowork">
      <h4 class="flex items-center">
        <svg class="status-light w-4 h-4" fill="#46e385" viewBox="0 0 8 8">
          <circle cx="4" cy="4" r="3"></circle>
        </svg>
        <a class="btn px-2" href="/about/">Available for work.</a>
      </h4>
    </div>
  </div>
  <div class="content-3-col">
    <section class="pb-8 lg:pb-12">
      <h2 class="text-3xl lg:text-4xl py-6 text-gray-500">Writing.</h2>

      <ul class="latest">
        {{- range ( where site.RegularPages "Section" "posts" | first 5 ) }}
        <li>
          <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
          <time>{{ .Date.Format "Mon, Jan 2, 2006" }}</time>
        </li>
        {{ end }}
      </ul>
    </section>
    <section class="pb-8 lg:pb-12">
      <h2>Projects.</h2>
      {{ range $.Site.Data.projects.projects }}
      <a href="{{ .url }}">
        <h3 class="text-2xl md:text-3xl py-3 md:py-6">
          {{ .name }}
        </h3>
      </a>
      <h4>
        {{ .description }}
      </h4>
      {{ end }}
    </section>
    {{- partial "bottom.html" . -}}
  </div>
</div>
{{ end }}
